html,
body {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
}

.cell {
  width: 10px;
  height: 10px;
  border: 1px solid #05386b;
  background: #edf5e1;
}

.cell-active {
  background-color: #379683;
}

.menu {
  display: flex;
}
